.inst-shot {
  background-color: rgba(0, 0, 0, 0.0001);
}
// .container {
//   padding: 77.5px 47px 42px 25px;
//   @media (min-width: $tablet-bp) {
//     padding: 47px 92px 50px 80px;
//   }
//   @media (min-width: $desktop-bp) {
//     padding: 47px 213px 49px 215px;
//   }
// }
.inst-shot__text-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 77.5px;
  @media (min-width: $tablet-bp) {
    margin-top: 107px;
  }
  @media (min-width: $desktop-bp) {
    margin-top: 116px;
  }
}
.inst-shot__title {
  @include text(700, 14px, 22px, $color);
  text-transform: uppercase;
}
.inst-shot__link {
  display: none;
  @media (min-width: $tablet-bp) {
    display: block;
    @include text(700, 13px, 22px, $color);
    text-decoration: none;
    text-transform: uppercase;
  }
}
.inst-shot__img {
  width: 248px;
  height: 248px;
  @media (min-width: $desktop-bp) {
    width: 285px;
    height: 285px;
  }
}
.inst-shot__img-wrap {
  margin-top: 13px;
  margin-bottom: 42px;
  @media (min-width: $tablet-bp) {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    margin-bottom: 50px;
  }
  #img-1 {
    background-image: url("../../../dist/img/inst/inst-mob.jpg");
    @media (min-width: $tablet-bp) {
      background-image: url("../../../dist/img/inst/inst1.jpg");
    }
    @media (min-width: $desktop-bp) {
      background-image: url("../../../dist/img/inst/inst1d.jpg");
    }
  }
  #img-2 {
    display: none;
    @media (min-width: $tablet-bp) {
      display: block;
      background-image: url("../../../dist/img/inst/inst2.jpg");
    }
    @media (min-width: $desktop-bp) {
      background-image: url("../../../dist/img/inst/inst2d.jpg");
    }
  }
  #img-3 {
    display: none;
    @media (min-width: $tablet-bp) {
      display: block;
      background-image: url("../../../dist/img/inst/inst3.jpg");
    }
    @media (min-width: $desktop-bp) {
      background-image: url("../../../dist/img/inst/inst3d.jpg");
    }
  }
  #img-4 {
    display: none;
    @media (min-width: $desktop-bp) {
      display: block;
      background-image: url("../../../dist/img/inst/inst4d.jpg");
    }
  }
}
