@import url(./base/_reset.scss);
@import "./base/reset";
@import "./layout/header";
@import "./layout/recent-posts";
@import "./layout/inst-shot";
@import "./layout/footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  padding-left: 25px;
  padding-right: 25px;
  @media (min-width: $tablet-bp) {
    padding-left: 80px;
    padding-right: 80px;
  }
  @media (min-width: $desktop-bp) {
    padding-left: 115px;
    padding-right: 115px;
  }
}
